.App {
  text-align: center;
}

a{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 17px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container-grid {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 1em;
  justify-content: center;
}

.movie-grid {
  max-width: 200px;
  max-height: 380px;
  border-radius: 4px;
  background-color: #9EE7F5;
  cursor: pointer;
  transition: all 0.2s;
  color: white;
  place-self: center;
}

.details {
  display: flex;
}

.details-image{
  flex: 40%;
}

.details-info{
  flex: 50%;
  text-align: justify;
}

.reviews{
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 10px;
}

.detail-review {
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.whitespace {
  flex: 10%;
}