.App {
  text-align: center;
  background-color:#61dafb
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(250px, 1fr));
  grid-gap: 0.1em;
  padding: 0.1em;
}
.movie-profile {
  background-color: #292C34;
  color: white;
  border-radius: 1em;
}

.movie-image {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  width: 100%;
  height: 65%;
  object-fit: cover;
}

.App-link {
  color: #61dafb;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #61dafb;
}

.movie-details-container {
  height: 90vh;
  font-size: x-large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
