.App {
  text-align: center;
}

/****************************/
/*************Search***************/
/****************************/

.searchBar {

}
.searchBar input { 
  width: 30%;
  height: 30px;
  margin: 0 10px 30px;
  border-radius: 20px;
  padding: 0 20px
}

.searchBar input::placeholder {
  padding: 20px;
  font-size: 1.2em;
}

.searchBar button {
  height: 35px;
  width: 80px;
  border-radius: 20px;
  cursor: pointer;
}

.searchBar button:hover{
  border: none;
}

/****************************/
/*************home content***************/
/****************************/

.searchContent {
  width: 80%;
  height: 40vh;
  margin: 0 auto;

  display: flex;
  overflow-x:scroll;
}

.searchContent img {
  max-width: 200px;

  margin: 0 20px;
}

.searchContent h2 {
  position: fixed;
  left: 20px;
  top: 200px;
  transform:rotate(90deg);
}

.movieContent {
  width: 80%;
  height: 40vh;
  margin: 0 auto;

  display: flex;
  overflow-x:scroll;
}

.movieContent img {
  max-width: 200px;
  margin: 0 20px;
}